<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.broto.backstage.entity.Action">
    <sql id="tableName">
        bro_action
    </sql>
    
    <insert id="insert" parameterType="Action">
        INSERT INTO<include refid="tableName"/>(id,ctime,`order`,label,`action`,hint,`desc`,`module_id`,`exclude`,`show`,`deleted`)
        VALUES (#{id},#{ctime},#{order},#{label},#{action},#{hint},#{desc},#{moduleId},#{exclude},#{show},#{deleted})
    </insert>

    <update id="update" parameterType="Action">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="order != null">
                `order` = #{order},
            </if>
            <if test="label != null">
                `label` = #{label},
            </if>
            <if test="action != null">
                `action` = #{action},
            </if>
            <if test="hint != null">
                `hint` = #{hint},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="moduleId != null">
                `module_id` = #{moduleId},
            </if>
            <if test="mtime != null">
                `mtime` = #{mtime},
            </if>
            <if test="exclude != null">
                `exclude` = #{exclude},
            </if>
            <if test="show != null">
                `show` = #{show},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="hardDelete" parameterType="String">
        DELETE FROM <include refid="tableName"/> WHERE id = #{id}
    </delete>

    <update id="noHardDelete" parameterType="String">
        UPDATE <include refid="tableName"/>  <set>deleted=true</set> WHERE id = #{id}
    </update>


    <select id="findById" parameterType="String" resultType="Action">
        select * from <include refid="tableName"/> where id = #{id}
    </select>

    <select id="findAllByMap" parameterType="java.util.Map" resultType="Action">
        select * from <include refid="tableName"/>
        <where>
            1 = 1
            <if test="order != null">
                and `order` = #{order}
            </if>
            <if test="label != null">
                and `label` = #{label}
            </if>
            <if test="action != null">
                and `action` = #{action}
            </if>
            <if test="hint != null">
                and `hint` = #{hint}
            </if>
            <if test="desc != null">
                and `desc` = #{desc}
            </if>
            <if test="moduleId != null">
                and `module_id` = #{moduleId}
            </if>
            <if test="mtime != null">
                and `mtime` = #{mtime}
            </if>
            <if test="exclude != null">
                and `exclude` = #{exclude}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="show != null">
                and `show` = #{show},
            </if>
        </where>
    </select>

    <select id="countAllByMap" parameterType="java.util.Map" resultType="long">
        select count(*) from <include refid="tableName"/>
        <where>
            1 = 1
            <if test="order != null">
                and `order` = #{order}
            </if>
            <if test="label != null">
                and `label` = #{label}
            </if>
            <if test="action != null">
                and `action` = #{action}
            </if>
            <if test="hint != null">
                and `hint` = #{hint}
            </if>
            <if test="desc != null">
                and `desc` = #{desc}
            </if>
            <if test="moduleId != null">
                and `module_id` = #{moduleId}
            </if>
            <if test="mtime != null">
                and `mtime` = #{mtime}
            </if>
            <if test="exclude != null">
                and `exclude` = #{exclude}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="show != null">
                and `show` = #{show},
            </if>
        </where>
    </select>


</mapper>